In [1]:
import numpy as np
import pandas as pd

In [26]:
# input csv
imdb_csv = pd.read_csv('dataset/IMDB-database-update.csv',encoding='latin1')
imdb = pd.DataFrame(imdb_csv)

# 1. How many rows and columns reflected on dataset file IMDB-database-update.csv?

In [27]:
imdb.shape

(3781, 36)

# 2. What are the top 3 movies with highest nett profit in 2015?

In [34]:
imdb.drop_duplicates(subset='movie_title',keep='first',inplace=True)
top3HighestProfit=imdb[imdb.title_year == 2015].sort_values('net_USD', ascending=False)
top3HighestProfit.movie_title.head(3)

14               Jurassic World
256                     Minions
3384    Avengers: Age of Ultron
Name: movie_title, dtype: object

# 3. What are the top 3 movies with highest gross profit in 2016?

In [36]:
top3HighestGross = imdb[imdb.title_year == 2016].sort_values('gross_USD',ascending=False)
top3HighestGross.movie_title.head(3)

12     Captain America: Civil War
355                      Deadpool
36                The Jungle Book
Name: movie_title, dtype: object

# 4. How many non-english movies are in the dataset?

In [57]:
len(imdb[imdb.language == 'English'])

3527

# 5. What are top 3 languages in the data set aside English (based on number of movies)?

In [63]:
imdb.language[imdb.language != 'English'].value_counts().head(3)

French      33
Spanish     23
Mandarin    13
Name: language, dtype: int64

# 6. What are the top 3 countries with the highest nett profit in all dataset times?

In [74]:
imdb.sort_values('net_USD',ascending = False).movie_title.head(3)

0             Avatar
14    Jurassic World
11           Titanic
Name: movie_title, dtype: object

# 7. What are the average budget of all movies in dataset in 2015?

In [84]:
avgBudget15 = imdb.budget_USD[imdb.title_year == 2015].mean()
print(avgBudget15)

52102458.333333336

# 8. What are the average budget of all movies in dataset in 2016?

In [83]:
avgBudget16 = imdb.budget_USD[imdb.title_year == 2016].mean()
print(avgBudget16)

66014754.09836066

# 9. Which one is higher, average budget of all movies in dataset in 2015 or 2016?

In [87]:
higher = '2015' if avgBudget15 > avgBudget16 else '2016'
print(higher)

2016

# 10. What movie that resulted highest nett profit of all dataset times? How much did the movie make?

In [92]:
imdb[['movie_title','net_USD']].sort_values('net_USD',ascending=False).head(1)

  movie_title    net_USD
0      Avatar  523505847

***